<?php
function DbLoginInfos()
{
    return array(
        // Database host
        "host" => "localhost",
        // Database user
        "dbuser" => "dbuser",
        // Database password
        "dbpassword" => "dbpassword"
    );
}
?>
